* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body {
  user-select: none;
  background: #160330;
}

canvas {
  display: none;
  image-rendering: pixelated;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid #caa7fa;
}